* {
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: "Kumbh Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(149, 102, 232);
  background: linear-gradient(
    180deg,
    rgba(149, 102, 232, 1) 20%,
    rgba(101, 101, 231, 1) 50%
  );
}

.answer-wrapper1 {
  display: var(--answer-visible1);
}

.answer-wrapper2 {
  display: var(--answer-visible2);
}

.answer-wrapper3 {
  display: var(--answer-visible3);
}

.answer-wrapper4 {
  display: var(--answer-visible4);
}

.answer-wrapper5 {
  display: var(--answer-visible5);
}

.question1 {
  font-weight: var(--question-bold1);
}

.question2 {
  font-weight: var(--question-bold2);
}

.question3 {
  font-weight: var(--question-bold3);
}

.question4 {
  font-weight: var(--question-bold4);
}

.question5 {
  font-weight: var(--question-bold5);
}

@media screen and (max-width: 576px) {
  .overall-wrapper {
    position: relative;
  }
  .header-image-header {
    position: absolute;
    top: -100px;
    left: 125px;
  }

  .header-image-styling {
    position: absolute;
    padding-bottom: 2.6rem;
    width: 25rem;
    height: auto;
    background-image: url(/images/bg-pattern-mobile.svg);
    background-size: contain;
  }

  h1 {
    margin: 0;
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 3rem;
    color: hsl(237, 12%, 33%);
  }

  .card {
    margin-top: 20rem;
    background-color: white;
    border-radius: 1rem;
    width: 32rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15rem;
    padding-bottom: 5rem;
    z-index: -1;
  }

  .faq {
    margin-left: auto;
    margin-right: auto;
    width: 50ch;
  }

  .question-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .question1,
  .question2,
  .quesiton3,
  .question4,
  .question5 {
    font-size: 1.2rem;
  }

  .question {
    font-size: 1.2rem;
    color: hsl(237, 12%, 33%);
  }

  .answer {
    font-size: 1.2rem;
    padding-bottom: 1rem;
    color: hsl(240, 6%, 50%);
  }

  section {
    border-bottom: 1px solid hsl(240, 5%, 91%);
  }

  .btn-arrow1,
  .btn-arrow2,
  .btn-arrow3,
  .btn-arrow4,
  .btn-arrow5 {
    cursor: pointer;
  }
}

@media screen and (min-width: 1440px) {
  .overall-wrapper {
    position: relative;
  }

  .header-image-header {
    position: absolute;
    top: 175px;
    left: 600px;
  }

  .header-image-styling {
    position: absolute;
    padding-bottom: 15rem;
    width: 55rem;
    height: auto;
    background-image: url(/images/bg-pattern-desktop.svg);
    background-size: contain;
  }

  h1 {
    margin: 0;
    text-align: center;
    font-size: 4rem;
    margin-bottom: 3rem;
    margin-right: 7rem;
    color: hsl(237, 12%, 33%);
  }

  .card {
    margin-top: 15%;
    background-color: white;
    border-radius: 2rem;
    width: 120rem;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
    z-index: -1;
  }

  .faq {
    margin-left: auto;
    margin-right: 10rem;
    width: 100ch;
  }

  .question-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .question1,
  .question2,
  .question3,
  .question4,
  .question5 {
    font-size: 2rem;
    color: hsl(237, 12%, 33%);
  }

  .answer {
    font-size: 2rem;
    padding-bottom: 1rem;
    color: hsl(240, 6%, 50%);
  }

  section {
    border-bottom: 1px solid hsl(240, 5%, 91%);
  }

  .btn-arrow1,
  .btn-arrow2,
  .btn-arrow3,
  .btn-arrow4,
  .btn-arrow5 {
    cursor: pointer;
  }
}
